<hr>
<div class="xuyta">
    <div class="content"></div>
    <div class="sidebar">
        <div class="card-content" role="main">
            <div class="card-container">
                <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      
                <span>Learn Angular</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
            </div>
            
        </div>  
    </div>

</div>
<hr>
<div *ngFor="let s in ss">
    <h2>{{s}}</h2>
</div>
<app-problems [id]="1"></app-problems>